@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your existing styles for input and button */
input[type="text"],
input[type="email"],
input[type="password"],
input[name="full_name"],
input[type="phone_number"],
input[type="delivery_address"],
textarea,
select {
    @apply w-full my-1 px-3 py-2 border border-gray-300 rounded-xl;    
}

button.primary {
    @apply p-2 w-full border border-transparent rounded-2xl shadow-sm text-white bg-green-900 hover:bg-green-600 focus:outline-none;
}

button.large {
    @apply px-20 py-2 w-full border border-transparent rounded-2xl shadow-sm text-white bg-green-900 hover:bg-green-600 focus:outline-none;
  }

.forms-container {
    display: flex;
    justify-content: center; /* Center the forms horizontally */
    gap: 20px; /* Adjust the space between forms as needed */
  }
  
  .form {
    width: 30%; /* Adjust the width as needed */
  }
  .button-container {
    display: flex;
    justify-content: center;
  
  }


  